@import 'info_styling.css';
/* Setting everything to this font */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Controls the entire group of lists as a whole */
.lists{
    display:flex;
    margin: 5px 0px;
    background-color: lavenderblush;
    justify-content: center;
}

/* Controls the 3 main list blocks individually (Cities/Landmarks/Famous Citizens) */
.cities, .landmarks, .citizens{
    margin: 5px;
    padding: 5px;
    max-width: 180px;
    text-align: center;
    /* Force each List to expand and shrink at the same rate */
    flex:1;
}

/* Controls the <h3> element at the top of each list (Cities/Landmarks/Famous Citizens) */
.list-header{
    margin: 2px;
    padding: 0px;
}

a{
    text-decoration: none;
    font-weight: bold; 
}

a:link, :visited{
    color: #3445C2;
}

.page{
    padding: 2px;
}

.current-page{
    border: solid black 1px;
}

.country_images {
    width: 100%;
    max-height: 20em;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
}

.country {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
} 

.country_name h1{
    margin: 10px 0;
    text-align: center;
}

.copyright {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    padding: 20px;
    background-color: lavenderblush;
}

.header-container {
    display: flex;
}

.header-container h1 {
    margin-top: 95px;
    margin-left: 25px;
}
