/* Controls the entire group of lists as a whole */
.lists{
    display:flex;
    justify-content: space-around;
    margin: 5px 0px;
}

/* Controls the 3 main list blocks individually (Cities/Landmarks/Famous Citizens) */
.cities, .landmarks, .citizens{
    margin: 5px;
    padding: 5px;
    border: solid black 2px;
    max-width: 180px;
    text-align: center;
    /* Force each List to expand and shrink at the same rate */
    flex:1;
}

/* Controls the <h3> element at the top of each list (Cities/Landmarks/Famous Citizens) */
.list-header{
    margin: 2px;
    padding: 0px;
}

.country_images {
    max-width: 20em;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.country {
    display: flex;
    flex-direction: column-reverse;
} 

.country_name h1{
    margin: auto;
    margin-top: 5px;
    text-align: center;
}

.copyright {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.header-container {
    display: flex;

}

.header-container h1 {
    margin-top: 95px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}